@use "../bootstrap.scss" as *;

.filter-price__range {
  // padding: 2px 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

// Стили библиотеки no-ui-slider
/* stylelint-disable */
.filter-price__range {
  &.noUi-target {
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% - 24px);
    background-color: var(--alt-light-grey);
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  &.noUi-horizontal {
    height: 4px;
  }

  & .noUi-connect {
    background-color: var(--alt-primary-lighter);
  }

  &.noUi-horizontal .noUi-handle  {
    width: 24px;
    height: 24px;
    right: -12px;
    top: 50%;
    transform: translateY(calc(-50% + 2px));
  }

  & .noUi-handle {
    box-shadow: none;
    border-radius: 50%;
    border: 2px solid var(--alt-primary-lighter);

    &::after {
      display: none;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      top: 2px;
      left: 2px;
      background-color: var(--alt-primary-opacity-0_25);
      content: "";
    }

    &:hover::after {
      display: block;
    }

    &::before {
      display: none;
    }
  }

  & .noUi-handle.noUi-active {
    box-shadow: none;

    &::after {
    display: block;
    background-color: var(--base-primary);
    }
  }
}
/* stylelint-enable */

.filter-price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;

  &::after {
    display: block;
    min-width: 8px;
    height: 2px;
    background-color: var(--base-grey);
    content: "";

    @media (min-width: $desktop-width) {
      min-width: 10px;
    }
  }
}

.filter-price__input {
  min-width: 118px;
  height: 40px;
  outline: none;
  border: 2px solid var(--alt-primary-lighter);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--base-black);

  &::placeholder {
    color: var(--base-grey);
  }

  @media (min-width: $tablet-width) {
    min-width: 88px;
  }

  @media (min-width: $desktop-width) {
    min-width: 134px;
  }

  &:focus {
    border-color: var(--alt-primary-darker);
  }

  &:disabled {
    border-color: var(--alt-light-grey);
    background-color: var(--bg-lightest-grey);
    color: var(--base-grey);
  }
}

.filter-price__input-wrapper {
  &--min {
    order: -1;
  }

  &--max {
    order: 1;
  }
}
