@use "../bootstrap.scss" as *;

.slider-pagination {
  display: none;
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    width: 202px;
    margin: 0 auto;
  }
}

.slider-pagination__btn {
  display: none;
  @include reset-button;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    display: block;

    &::before {
      display: block;
      width: 62px;
      height: 4px;
      background-color: var(--base-white);
      overflow: hidden;
      content: "";
    }

    &--current::before {
      background-color: var(--base-primary);
    }

    &:hover::before,
    &:focus::before {
      background-color: var(--alt-primary-opacity-0_25);
    }

    &:active::before {
      background-color: var(--base-primary);
    }
  }
}
